setuptools
wheel
blinker
click
colorama
Flask
Flask-Cors
gunicorn
importlib_metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mysql-connector-python
numpy
packaging
pandas
protobuf
python-dateutil
pytz
scipy
six
tabulate
tzdata
Werkzeug
zipp
sentence-transformers
faiss-cpu
pickle-mixin
